{% extends "base.html" %}

{% block content %}
    <h1>Well done on finding this page. But wait &hellip;</h1>
    <p>The database gets wiped every day or so. It's only there for testing.
    So you could register, but it will be gone shortly,
    and you won't get access to any extra data anyway.
    So, you know, just don't.</p>
    <p>I will very soon be looking for testers. Please let me know by 
    <a href='https://github.com/ApplySci/mj-scorer/issues'>raising an issue on github</a>
    if you're interested. Or ping me @ApplySci on one of the Discord Mahjong channels where I hang out.</p>
    <h1>Register</h1>
    <form action='' method=post>
        {{ form.hidden_tag() }}
        <p>This is the name that will be used for all the games you play. You can't change it later. It has to be unique, and it's going to get put on each of your games.<br>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pin.label }}<br>
            {{ form.pin(size=4) }}<br>
            {% for error in form.pin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
